In [2]:
#1.kutuphaneler
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# veri yukleme
veriler = pd.read_csv('veriler/maaslar.csv')
veriler

              unvan  Egitim Seviyesi   maas
0             Cayci                1   2250
1          Sekreter                2   2500
2  Uzman Yardimcisi                3   3000
3             Uzman                4   4000
4  Proje Yoneticisi                5   5500
5               Sef                6   7500
6             Mudur                7  10000
7          Direktor                8  15000
8           C-level                9  25000
9               CEO               10  50000

In [3]:
x = veriler.iloc[:,1:2]
y = veriler.iloc[:,2:]
X = x.values
Y = y.values

In [7]:
from sklearn.ensemble import RandomForestRegressor # ensemble için, birden fazla kişiden oluşan, birden fazla görüşe sahip olan grup diyebiliriz.

rf_reg = RandomForestRegressor(n_estimators=10 ,random_state=0) # n_estimators, kaç tane decision tree çizeceğimizi belirtmemiz için kullandığımız bir fonksiyon.
rf_reg.fit(X,Y.ravel()) # Ravel() işlevi, bitişik düzleştirilmiş bir dizi oluşturmak için kullanılır.Girdinin öğelerini içeren 1 boyutlu bir dizi döndürülür.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [6]:
from sklearn.metrics import r2_score
print('Random Forest R2 değeri')
print(r2_score(Y, rf_reg.predict(X)))

Random Forest R2 değeri
0.9704434230386582